<div class="row">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <form class="form-horizontal" action="" method="get">
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_exercise_name" class="col-lg-2 hidden-xs">
            Find your exercise
          </label>
          <div class="col-lg-10 col-xs-12">
            <input type="search" name="exercise_name" value=""
              class="form-control exercise_name" placeholder="Search exercises"
              id="id_exercise_name">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row exercise-list-hook"></div>
