<div class="col-lg-4 col-lg-offset-2">
  <div class="form-group">
    <label class="control-label col-lg-3" for="id_password1">
      Password
    </label>
    <div class="col-lg-9">
      <input class="form-control" id="id_password1" type="password"
        name="password1">
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="form-group">
    <label class="control-label col-lg-3" for="id_password2">
      Repeat
    </label>
    <div class="col-lg-9">
      <input class="form-control" id="id_password2" type="password"
        name="password2">
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="pull-right">
    <button type="button" class="btn btn-default cancel-button">
      Cancel
    </button>

    <button type="button" class="btn btn-success password-button">
      Change Password
    </button>
  </div>
</div>
