<div class="page-header">
  <h1 class="clearfix">
    <span class="hidden-xs">Workout date:</span> <%- formattedDate %>
    <small class="pull-right">
      <a href="/workout/" class="btn btn-link go-back">
        <i class="glyphicon glyphicon-menu-left"></i>
        Go Back
      </a>
      <a href="<%- editUrl %>" class="btn btn-primary edit-workout">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit
      </a>
    </small>
  </h1>
</div>

<div class="exercise-list-hook"></div>
